.app {
    background-color: #f7f7f7;    
}

.app__body {
    display: flex;
}

.app__body--sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}